@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Verdana, Tahoma, sans-serif;
  margin: 0;
  line-height: 1.4;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, button {
  font-family: "Anton", sans-serif;
}

h1 {
  color: #fff;
  font-size: 4.209rem;
  text-align: center;
  text-shadow: 2px 3px 4px rgba(0,0,0,0.6);
}

h2 {
  color: #F54F95;
  font-size: 3.157rem;
  margin-top: 0;
}

h3 {
  font-size: 2.369rem;
  text-transform: uppercase;
  margin: 0;
}

.wrapper{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

#logo{
  width: 160px;
}

header .wrapper{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul{
  display:flex;
  list-style: none;
}

header nav ul a{
  display: inline-block;
  background-color: #F54F95;
  color: #fff;
  padding: .75em 1.25em;
  text-decoration: none;
  margin-left: 1em;
  border: 1px solid #F54F95;
}

header nav ul a:hover, header nav ul a:focus{
  background-color: #fff;
  color: #F54F95;
  transition: 0.3s ease-in-out;
}

#hero{
  background-color: #F54F95;
  height: 60vh;
  background-image: url(../images/hero-donuts.jpg);
  background-position: center;
  background-size: cover;

  display:flex;
  justify-content: center;
  align-items: center;
}

section{
  margin: 4em 0;
}

.product-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.product-card{
  border-radius: 14px;
  
}

.product-card:nth-child(1){
  background-color: #e1729a;
}



